.about-banner {
    margin-top: 100px;
    background: #07600C;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-banner h1 {
    color: #fff;
}

.about-container {
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.about-container article {
    text-align: justify;
    font-size: 20px;
}

@media screen and (max-width: 678px) {
    .about-container article {
        font-size: 1.5rem;
    }
}
.about-footer {
    background-color: #f1f1f1;
}