.faq-banner {
    margin-top: 100px;
    background-image:
    linear-gradient(to top, rgba(8, 110, 15, .4), rgba(0, 0, 0, 5.5)),
    url('../img/faq.jpg');
    background-position: 66% 16%;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.faq-banner h1 {
    color: #fff;
}

.faq-container {
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.faq-container article {
    text-align: justify;
    font-size: 20px;
}

@media screen and (max-width: 678px) {
    .faq-container article {
        font-size: 1.5rem;
    }
}
.faq-footer {
    background-color: #f1f1f1;
}

summary {
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-top: 20px;
}